<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ferien</title>
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}"rel="stylesheet">

</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{{ url_for('ad_new_packliste') }}" class="nav-link px-2 link-secondary">Startseite</a></li>
        <li><a href="{{ url_for('sommer') }}" class="nav-link px-2 link-dark">Sommerkleider</a></li>
        <li><a href="{{ url_for('winter') }}" class="nav-link px-2 link-dark">Winterkleider</a></li>
        <li><a href="{{ url_for('ski') }}" class="nav-link px-2 link-dark">Skikleider</a></li>
        <li><a href="{{ url_for('strand') }}" class="nav-link px-2 link-dark">Strandkleider</a></li>


      </ul>

    </header>



