<!-- header übernommen von jinja Datei -->
{% include 'header.jinja' %}

<!-- Bootstrap von stylesheet übernommen -->
<div class="text-center" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'bootstrap/style/stylesheet.css') }}">
    <h1>{% block title %} Erstellen sie ihre personalisierte Packliste{% endblock %}</h1>
</div>
<form method="POST">

<!-- Benennung der Packliste -->
    <br>
    <label for="ort"> Wie möchten sie Ihre Packliste bennenen?</label>
    <input type="text" id="ort" name="ort">
<!-- erstes Dropdownmenü -->
    <br>
    <br>
<div class="dropdown">
    <label for="typ">Was ist die Art Ferien die sie machen möchten?</label>
    <select id="typ" name="typ">
      <option value="Sommerferien">Sommerferien</option>
      <option value="Winterferien">Winterferien</option>
      <option value="Skiferien">Skiferien</option>
      <option value="Strandferien">Strandferien</option>
    </select>
</div>
<!-- zweites Dropdownmenü -->
    <br>
<div class="dropdown">
    <label for="anzahl">Wie viele Tage gehst du in den Urlaub?</label>
    <input type="number" id="anzahl" name="anzahl">
</div>

<!-- Angabe des Erstelldatums der Packliste -->
    <br>
  <div class="mb-3">
    <label for="deadlline" class="form-label">Erstelldatum</label>
    <input type="date" class="form-control" id="deadlline" name="deadline">
  </div>

<!-- Button um die Einstellungen zu speichern -->
  <button type="submit" class="btn btn-primary">Speichern</button>
</form>
{% include "footer.jinja" %}



