<!-- header übernommen von jinja Datei -->
{% include "header.jinja" %}
<!-- Was ist das? -->
<form method="POST" action="{{ url_for('start') }}">
    {% for kategorie in kategorien %}
      <!-- Titel -->

      <h3>{{ kategorie }}</h3>
      <!-- Start Checkboxen -->
      {% for ding in sachen[kategorie] %}
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="{{ ding }}" name="name" id="{{ ding }}">
            <label class="form-check-label" for="{{ ding }}">
                {{ ding }}
            </label>
        </div>
      {% endfor %} <!-- Ende der Sachen Schleife -->
    <br>
    {% endfor %} <!-- Ende der Kategorien Schleife -->
    <!-- Button um die Packliste zu speichern -->
    <button type="submit" class="btn btn-success">Speichern</button>
</form>

{% include "footer.jinja" %}

