<!-- header übernommen von jinja Datei -->
{% include 'header.jinja' %}
<!-- Schleife-->
<div class="row">
{% for eintrag in liste %}
<!-- Darstellung in cardstyle -->
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{ eintrag[0] }}</h5>
      <p class="card-text">Ferienart: {{ eintrag[1] }}</p>
      <p class="card-text">Anzahl Tage: {{ eintrag[2] }}</p>
      <form method="POST" action="{{url_for('abrufen')}}">
<!-- verstecktes input Feld, sendet trotzdem die Werte wenn das Formular gesendet wird -->
        <input type="hidden" name="data" value="{{eintrag}}">
        <button type="submit" class="btn btn-success">Abrufen</button>
      </form>
    </div>
  </div>
<!-- Ende der Schleife -->
{% endfor %}
</div>
<!-- footer von jinja Datei übernommen -->
{% include "footer.jinja" %}