<!-- header übernommen von jinja Datei -->
{% include "header.jinja" %}
<!-- Bootstrap von stylesheet übernommen -->
<div class="text-center" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'bootstrap/style/stylesheet.css') }}">
    <h1>{% block title %} Erstellen sie ihre personalisierte Packliste{% endblock %}</h1>
</div>
<form method="POST" action="{{ url_for('hinzufügen') }}">



</form>


<!-- footer von jinja Datei übernommen -->
{% include "footer.jinja" %}